<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />

    <context:component-scan base-package="com.epam.spring"/>
    <context:property-placeholder location="classpath:my.properties"/>

    <bean class="com.epam.spring.storage.InitStorage"/>

    <bean id="repository" class="com.epam.spring.repository.Repository"/>

    <bean id="ticketService" class="com.epam.spring.service.TicketServiceImpl"
        p:ticketDao-ref="ticketDao"/>

    <bean id="userService" class="com.epam.spring.service.UserServiceImpl"
        p:userDAO-ref="userDao"/>

    <bean id="eventService" class="com.epam.spring.service.EventServiceImpl"
        p:eventDAO-ref="eventDao"/>

    <bean id="bookingService" class="com.epam.spring.service.BookingFacadeServiceImpl">
        <constructor-arg ref="ticketService"/>
        <constructor-arg ref="eventService"/>
        <constructor-arg ref="userService"/>
    </bean>

    <bean id="userDao" class="com.epam.spring.dao.impl.StaticUserDao"/>
    <bean id="ticketDao" class="com.epam.spring.dao.impl.StaticTicketDao"/>
    <bean id="eventDao" class="com.epam.spring.dao.impl.StaticEventDao"/>

</beans>